*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

html, body{
    background-color: #def2f1;
    height: 100%;
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff00;
}
    
::-webkit-scrollbar-thumb{
    background-color: #3aafa9a2;
}

::-webkit-scrollbar-thumb:hover {
    background: #3aafa9; 
}

.waves{
    position: absolute;
    width: 100%;
}

#navbarID{
    background-color: rgba(255, 255, 255, 0.342) !important;
    height: 60px;
}

.navbar, .navbar-brand{
    font-size: 20px !important;
}

.nav-item{
    position: relative;
    margin-right: 20px;
    margin-top: -15px;
}

.navbar-brand{
    font-size: 28px !important;
}

.navbar a{
    color: #17252a !important;
}

.navbar .navbar-nav a{
    color: #17252ac2 !important;
}

.navbar .active a{
    color: #17252a !important;
}

.titleHome{
    position: absolute;
    transform: rotate(90deg);
    font-weight: bold;
    letter-spacing: 8px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.24);
    font-size: 50px;
}

.home .bg-home{
    background-color: #3aafa9;
    height: 500px;
    background-image: url('../images/vector-programmer.svg') !important;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position-x: 270%;
    background-position-y: 60%;
}

.home .container .bg-left{
    width: 15%;
    height: 100%;
    margin-left: -20px;
}

.nav-item{
    overflow: hidden;
    cursor: pointer;
}

.nav-item1 .span1, .nav-item2 .span1, .nav-item3 .span1, .nav-item4 .span1, .nav-item5 .span1{
    margin: auto;
    width: 70%;
    height: 5px;
    background-color: #17252a;
    margin-top: -5px;
    position: absolute;
    visibility: hidden;
    margin-left: -80px;
}

.nav-item1 .span2, .nav-item2 .span2, .nav-item3 .span2, .nav-item4 .span2, .nav-item5 .span2{
    width: 20%;;
    height: 5px;
    background-color: #17252a;
    position: absolute;
    margin-top: -5px;
    margin-left: 80%;
    margin-left: -80px;
    visibility: hidden;
}

.home{
    position: relative;
    top: 70px;
    height: 900px !important;
    z-index: 99;
}

.home .container h4{
    position: absolute;
    color: #17252a;
    margin-left: 20px;
    top: 18%;
    font-size: 28px;
}

.home .container h4 .name{
    color: #17252a;
    margin-top: 200px;
    font-size: 40px;
    letter-spacing: 1px;
}

.home .container h4 .brackets{
    color: #def2f1;
}

.home .container h4 .underline{
    text-decoration: #def2f1 underline;
}

.home .contact{
    position: absolute;
    top: 33%;
    margin-left: 20px;
}

.home .contact ul{
    list-style: none;
}

.home ul img{
    width: 20px;
    margin-top: -14px;
}

.home ul h6{
    float: right;
    margin-left: 10px;
    font-weight: bold;
    color: #17252a;
    font-size: 12px;
    width: 80%;
}

.waveAbout1{
    top: 115% !important;
    position: absolute;
    z-index: 2;
    width: 100%;
    margin: 0 !important;
}

.titleAbout{
    position: absolute;
    left: -16%;
    font-weight: bold;
    font-size: 80px;
    z-index: 1;
    top: 135%;
    margin-bottom: 600px;
    transition: left 1s;
}

.about{
    height: 800px;
    margin-bottom: 1000px;
}

.about .container{
    overflow: hidden;
    background-image: url('../images/waveBgAbout.png');
    background-size: 20%;
    background-position-x: 100%;
}

.about .bg-about{
    background-color: #3aafa9;
    height: 500px !important;
    background-repeat: no-repeat;
}

.about .bg-head{
    position: absolute;
    width: 300px;
}

.about .bg-profile{
    position: absolute;
    margin-top: 3%;
    left: 10%;
    width: 44%;
}

.about .aboutdetail{
    position: absolute;
    z-index: 2;
    right: 140px;
    font-weight: bold;
    width: 34%;
    font-size: 1.9vw;
    margin-top: 3%;
    letter-spacing: 0.5px;
}

.about .hobby1, .about .hobby2{
    text-decoration: underline;
    text-decoration-color: #def2f1;
}

.about .number{
    text-decoration: none;
}

.about .hobby{
    font-weight: bold;
    position: absolute;
    right: 30%;
    margin-top: 12%;
    font-size: 1.7vw;
    z-index: 2;
}

.about .hobby{
    letter-spacing: 1px;
}

.about .socialMedia{
    position: absolute;
    right: 35%;
    margin-top: 20%;
    font-weight: bold;
    z-index: 2;
}

.about .bg-headAbout{
    position: absolute;
    z-index: 1;
    width: 50%;
    transform: rotate(90deg);
    right: -200px;
    top: 200%;
    height: 500px;
}

.about .aboutdetail .underline{
    text-decoration: underline;
    text-decoration-color: #def2f1;
}

.socialMedia .title{
    font-weight: bold;
    font-size: 1.7vw;
}

@media only screen and (max-width: 500px) {
    .home .container{
        margin: 2.5%;
        width: 96%;
    }

    .home .container h4{
        font-size: 22px;
    }

    .home .container h4 .name{
        font-size: 30px;
        margin-top: 50px;
    }

    .home .container h4 .sp1,
    .home .container h4 .sp2,
    .home .container h4 .sp3{
        background-color: rgba(255, 255, 255, 0.151);
        border-radius: 2px;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1500px) {
    .titleHome{
        margin-top: -9.5%;
        left: -1.5%;
        transition: margin-top 1s;
    }

    .home{
        margin-top: 1%;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 1700px) {
    .titleHome{
        top: 26.5%;
        right: 84%;
        font-size: 60px;
    }

    .home{
        top: 20%;
    }
}

@media only screen and (min-width: 1700px) and (max-width: 2200px) {
    .titleHome{
        top: 30%;
        right: 78%;
        font-size: 60px;
    }

    .home{
        top: 23%;
    }
}